@import "./variables/variables";
@import "./components-sass/nav";
@import "./components-sass/main";
@import "./components-sass/event-dash-board";
@import "./components-sass/event-list";
@import "./components-sass/event-item";
@import "./components-sass/event-form";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

:root{

    font-size: 10px;
    

    font-family: 'Roboto', sans-serif;


}

