@import "../variables/variables";

header{
    background-image: linear-gradient(to right,$blue-dark ,$blue-light 30%,$green-light,$green-dark);
    text-align: center;
    width: 100%;
    position: fixed;
    z-index: 100;
    height: 10vh;
}

.nav{
    color: $yellow;

    &__logo {
        margin:0.5rem;
        color:$yellow;
        text-transform: uppercase;
    }
    &__toggle{
        display: none;
    }
    &__toggle:checked ~ nav{
        display: block;
    }
    
    &__nav{
        display: none;
        position: absolute;
        text-align: center;
        top: 100%;
        background-image: linear-gradient(to right,$blue-dark ,$blue-light 30%,$green-light,$green-dark);
        width: 100%;
        height: auto;
        left: 0;

        &-a{
            //event and people part
            &-ul{
                margin: 0;
                padding: 0;
                margin-bottom: 1rem;
                & li{
                    list-style: none;
                    margin-bottom: 1rem;
                    margin-left: 1rem;
                    & a{
                        text-decoration: none;
                        color: $yellow;
                        font-size: 2rem;
                        text-transform: uppercase;
                        font-weight: 500;
                        border-bottom: 1px solid orange;
                        &:hover{
                            color: orange;
                        }
                    }
                }
            }
        }

        &-b{
            margin-top: 2rem;
            //authentication buttons
            &-ul{
                display: flex;
                
                & li{
                    list-style: none;
                    margin-bottom: 2rem;
                    margin-left: 1rem;
                    flex: 1;
                    

                    & a{
                        text-decoration: none;
                        color: $yellow;
                        text-transform: uppercase;
                        font-weight: 300;
                        font-size: 1.6rem;
                        border: 1px solid orange;
                        padding: 0.5rem 1rem;
                        border-radius: 2px;
                        
                        &:hover{
                            color:white;
                            border: 5px solid orange;
                        }
                    }
                }
            }
        }

        &-label{
            //responsive navbar burger button
            position: absolute;
            top: 50%;
            left: 0;
            margin-left: 1rem;
            
            display: flex;
            height: 100%;
            align-items: center;
            text-align: center;
            flex-direction: column;



            
            
            & span{
                background-color: $yellow;
                height: 3px;
                width: 3.2rem;
                border-radius: 3px;
                margin: 2px;
            }

        }
    
    }

    

}

@media screen and (min-width:800px){


    .nav{

        &__nav-label{
            display: none;
        }
        &__logo{
            height: 100%;
            display: flex;
            align-items: center;
            grid-column: 1 /span 1;
            padding-left: 3rem;
        }
        &__nav{
            all: unset;
            grid-column: 2/4;
            color: $yellow;
            font-size: 2rem;
            text-transform: uppercase;
            display: flex;
            justify-content: space-around;
            align-items: center;
             


            //unset all css properties that belong responsive version of app
            &-a,
            &-b,
            &-b-ul,
            &-a-ul,
            &-a-ul li,
            &-b-ul li,
            &-a li,
            &-b li
            {
                all: unset;
            }
            &-a-ul li a{
                all: unset;
            }
            &-b-ul li a{
                all: unset;
            }
            &-a-ul li a:hover{
                all: unset;
            }
            &-b-ul li a:hover{
                all: unset;
            }
            //unset part end-----------------

            //event and people buttons part start---
           &-a{

            &-ul{

                & li{
                    padding: 0.5rem 1rem;
                    margin: 0.5rem;
                    margin-right: 5rem;
                    border: 1px solid transparent;
                    
                    transition: border 0.3s ease-in;
                    &:hover{
                        border: 1px solid orange;

                    }
                }
            }
           }
           //authentication buttons part start-----
           &-b{

            &-ul{

                & li{
                    padding: 0.5rem 1rem;
                    margin: 0.5rem;
                    border-radius: 3px;
                    border: 1px solid $yellow;

                    &:hover{
                        color:$blue-dark;
                        border-color: $blue-dark;
                    }
                }
            }
           }
        }

    }
    header{
        display: grid;
        grid-template-columns: 20% minmax(600px,1fr) 1fr;
    }

}