header {
  background-image: linear-gradient(to right, #05668d, #028090 30%, #02c39a, #00a896);
  text-align: center;
  width: 100%;
  position: fixed;
  z-index: 100;
  height: 10vh;
  top: 0px;
  left: 0px; }

.nav {
  color: #f0f3bd; }
  .nav__logo {
    margin: 0.5rem;
    color: #f0f3bd;
    text-transform: uppercase; }
  .nav__toggle {
    display: none; }
  .nav__toggle:checked ~ nav {
    display: block; }
  .nav__nav {
    display: none;
    position: absolute;
    text-align: center;
    top: 100%;
    background-image: linear-gradient(to right, #05668d, #028090 30%, #02c39a, #00a896);
    width: 100%;
    height: auto;
    left: 0; }
    .nav__nav-a-ul {
      margin: 0;
      padding: 0;
      margin-bottom: 1rem; }
      .nav__nav-a-ul li {
        list-style: none;
        margin-bottom: 1rem;
        margin-left: 1rem; }
        .nav__nav-a-ul li a {
          text-decoration: none;
          color: #f0f3bd;
          font-size: 2rem;
          text-transform: uppercase;
          font-weight: 500;
          border-bottom: 1px solid orange; }
          .nav__nav-a-ul li a:hover {
            color: orange; }
    .nav__nav-b {
      margin-top: 2rem; }
      .nav__nav-b-ul {
        display: flex; }
        .nav__nav-b-ul li {
          list-style: none;
          margin-bottom: 2rem;
          margin-left: 1rem;
          flex: 1; }
          .nav__nav-b-ul li a {
            text-decoration: none;
            color: #f0f3bd;
            text-transform: uppercase;
            font-weight: 300;
            font-size: 1.6rem;
            border: 1px solid orange;
            padding: 0.5rem 1rem;
            border-radius: 2px; }
            .nav__nav-b-ul li a:hover {
              color: white;
              border: 5px solid orange; }
    .nav__nav-label {
      position: absolute;
      top: 50%;
      left: 0;
      margin-left: 1rem;
      display: flex;
      height: 100%;
      align-items: center;
      text-align: center;
      flex-direction: column;
      cursor: pointer; }
      .nav__nav-label span {
        background-color: #f0f3bd;
        height: 3px;
        width: 3.2rem;
        border-radius: 3px;
        margin: 2px; }

@media screen and (min-width: 800px) {
  .nav__nav-label {
    display: none; }
  .nav__logo {
    height: 100%;
    display: flex;
    align-items: center;
    grid-column: 1 /span 1;
    padding-left: 3rem; }
  .nav__nav {
    all: unset;
    grid-column: 2/4;
    color: #f0f3bd;
    font-size: 2rem;
    text-transform: uppercase;
    display: flex;
    justify-content: space-around;
    align-items: center; }
    .nav__nav-a, .nav__nav-b, .nav__nav-b-ul, .nav__nav-a-ul,
    .nav__nav-a-ul li,
    .nav__nav-b-ul li,
    .nav__nav-a li,
    .nav__nav-b li {
      all: unset; }
    .nav__nav-a-ul li a {
      all: unset; }
    .nav__nav-b-ul li a {
      all: unset; }
    .nav__nav-a-ul li a:hover {
      all: unset; }
    .nav__nav-b-ul li a:hover {
      all: unset; }
    .nav__nav-a-ul li {
      padding: 0.5rem 1rem;
      margin: 0.5rem;
      margin-right: 5rem;
      border: 1px solid transparent;
      transition: border 0.3s ease-in; }
      .nav__nav-a-ul li:hover {
        border: 1px solid orange; }
    .nav__nav-b-ul li {
      padding: 0.5rem 1rem;
      margin: 0.5rem;
      border-radius: 3px;
      border: 1px solid #f0f3bd; }
      .nav__nav-b-ul li:hover {
        color: #05668d;
        border-color: #05668d; }
  header {
    display: grid;
    grid-template-columns: 20% minmax(600px, 1fr) 1fr; } }

.main {
  display: grid;
  grid-template-columns: 1fr 60% 30% 1fr;
  grid-gap: 1rem;
  margin: 0 auto;
  width: 100%;
  margin-top: 15vh; }

.dash-board {
  grid-column: 2/3;
  width: 80%; }
  .dash-board h1 {
    color: #05668d;
    text-transform: uppercase;
    font-family: inherit;
    padding: 1rem 2rem; }

.event-list {
  grid-column: 3/4;
  width: 100%; }
  .event-list__button {
    background-color: #00a896;
    text-align: center;
    padding: 1rem 2rem;
    color: #f0f3bd;
    font-size: 1.7rem;
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer; }
    .event-list__button:hover {
      opacity: 0.75; }

.event-item {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: flex-start;
  margin: 1rem auto;
  width: 90%;
  height: auto;
  border: 2px solid grey;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.568);
  border-radius: 3px; }
  .event-item__host, .event-item__date, .event-item__attendee, .event-item__description {
    border-bottom: 1px solid grey; }
  .event-item__host {
    width: 100%;
    background-color: #c4c4c454;
    padding: 1rem 2rem; }
    .event-item__host-pic {
      width: 6rem;
      height: 6rem;
      border-radius: 50%;
      border: 3px solid white; }
  .event-item__date {
    background-color: #c4c4c465;
    padding: 1rem 1rem;
    display: block;
    width: 100%; }
  .event-item__attendee {
    background-color: #c4c4c47a;
    padding: 2rem 2rem;
    width: 100%; }
  .event-item__description {
    width: 100%;
    padding: 2rem 3rem;
    position: relative;
    background-color: #c4c4c479; }
    .event-item__description button {
      position: absolute;
      top: 40%;
      right: 0px;
      transform: translateY(-50%);
      margin: 1rem;
      background-color: #028090;
      padding: 0.5rem 1rem;
      border-radius: 3px;
      color: #f0f3bd;
      text-transform: uppercase;
      letter-spacing: 1px;
      border: none; }
      .event-item__description button:hover {
        opacity: 0.80; }

.event__form {
  margin-top: 2rem;
  display: flex;
  width: 80%;
  flex-direction: column;
  justify-content: flex-start;
  padding: 2rem 2rem;
  background-color: #f5f4f4;
  border: 1px solid #cccccc;
  border-radius: 10px; }
  .event__form > input {
    margin: 0.5rem;
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 5px;
    background-color: transparent;
    text-transform: capitalize;
    letter-spacing: 0.5;
    font-size: 1.7rem;
    box-shadow: none;
    outline: none; }
  .event__form__buttons {
    padding: 2rem  1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; }
    .event__form__buttons > button {
      background-color: #00a896;
      padding: 1rem 2rem;
      display: inline-block;
      width: 40%;
      border-radius: 5px;
      border: 1px solid #05668d;
      color: #f0f3bd; }
      .event__form__buttons > button:hover {
        background-color: black;
        opacity: 0.55;
        color: white; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

:root {
  font-size: 10px;
  font-family: 'Roboto', sans-serif; }
